<?xml version="1.0" encoding="UTF-8"?>
<beans>
<!--    <component-scan base-package="org.example.springframework.basepackagetest"/>-->

    <bean class="org.example.springframework.beans.factory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:token.properties"/>
    </bean>

    <bean class="org.example.springframework.basepackagetest.ProductService">
        <property name="token" value="${token}"/>
    </bean>
</beans>