<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="org.example.springframework.beans.UserDao"/>

    <bean id="userService" class="org.example.springframework.beans.UserService">
        <property name="uid" value="10001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="org.example.springframework.beans.MyBeanPostProcessor"/>

    <bean class="org.example.springframework.beans.MyBeanFactoryPostProcessor"/>

</beans>